<div class="container-fluid">
<main class="mh-100">
  <div class="sidebar">
    <h2 class="header-title">Panel użytkownika</h2>


    <p>Zarządzanie Alertami</p>
    <hr class="separator">
    <ul class="sidemenu nav">
      <li><i class="fas fa-th-list"></i><a (click)="SetSubscription()">Subskrybcja</a></li>
      <li><i class="fas fa-th-list"></i><a (click)="SetAlert()">Alert</a></li>
    </ul>

    <p>Profil</p>
    <hr class="separator">
    <ul class="sidemenu">
      <li><a >Edytuj</a></li>
      <li><a (click)="Logout()"> Wyloguj</a></li>
    </ul>
  </div>
  <div class="main-panel">
    <flash-messages></flash-messages>
    <div class="container" *ngIf="alert">
      <div class="row">
        <div class="albums">
          <div class="card-columns">
            <div class="card" *ngFor="let item of cash_list" >
              <div class="card-body" >
                <h5 class="card-title"> {{item.Code}}/ PLN </h5>
                <div class="d-inline-block" (click)="SetPriceAlert(item.Code,'less')">
                <span class="card-text"> Sprzedaj za: {{item.BidPrice}} &nbsp;</span>
                </div>
                <div class="d-inline-block" (click)="SetPriceAlert(item.Code,'more')">
                <span class="card-text"> Kup za {{item.AskPrice}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subscription">
       <h3>Dodaj subskrybcje codziennego kursu waluty</h3>
        <input type="submit" (click)="GetSubscription()" >
        <label>Akceptuj subskrybcje</label>
    </div>
<!--    <router-outlet></router-outlet>-->
  </div>

</main>
</div>

