<h1>NBP</h1>

<p *ngIf="!listofcash"><em>Loading...</em></p>

<h4>Aktualne kursy walut z NBP:</h4>

<label for="message"></label>
<!--<input type="text" id="message" [(ngModel)]="message" name="message"/>-->
<button type="button" class="btn btn-default" (click)="TakeLastCurrency()">Click</button>


<p *ngIf="!result"><em>Loading...</em></p>

<h4> {{result[0].code}} {{result[0].data}}</h4>
<table class='table table-striped ' aria-labelledby="tableLabel" *ngIf="listofcash">

  <thead>
    <tr>
      <th>Data</th>
      <th>Waluta</th>
      <th>Cena kupna (Za tyle kupisz)</th>
      <th>Cena sprzedaży (Za tyle sprzedasz)</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cash of listofcash">
      <td>{{ cash.data }}</td>
      <td>{{ cash.code}}</td>
      <td>{{ cash.askPrice }} PLN</td>
      <td>{{ cash.bidPrice }} PLN</td>
    </tr>
  </tbody>
</table>

