<h1>NBP</h1>

<p *ngIf="!listofcash"><em>Loading...</em></p>

<h4>Aktualne Kursy walut z NBP:</h4>
<table class='table table-striped ' aria-labelledby="tableLabel" *ngIf="listofcash">
  
  <thead>
    <tr>
      <th>Date</th>
      <th>Code</th>
      <th>Bid Price</th>
      <th>Ask Price</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cash of listofcash">
      <td>{{ cash.data }}</td>
      <td>{{ cash.code}}</td>
      <td>{{ cash.bidPrice }} PLN</td>
      <td>{{ cash.askPrice }} PLN</td>
    </tr>
  </tbody>
</table>

