
<div class="container" >
  <flash-messages></flash-messages>
  <div *ngIf="email; then setPassword"></div>

  <ng-template #setPassword>
    <h2>Ustal nowe hasło</h2>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(pass.value)">

    <div class="form-group">
      <label attr.for="pass">Hasło</label>
      <input type="password" formControlName="Pass" #pass class="form-control" [ngClass]="{ 'is-invalid': submitted && p.Pass.errors }" />
      <div *ngIf="submitted && p.Pass.errors" class="invalid-feedback">
        <div *ngIf="p.Pass.errors.required">Password is required</div>
        <div *ngIf="p.Pass.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Nowe hasło
      </button>
      <a routerLink="/login" class="btn btn-link">Anuluj</a>
    </div>
  </form>
  </ng-template>
</div>
